ECOMMERCE_IMAGE=ghcr.io/turingzhi/ecommerce:sha-3f9c8b7e75e2485a9678a3a4e63f4a05c491d66e
MSSQL_SA_PASSWORD=
RABBITMQ_PASSWORD=
DEFAULT_ADMIN_ENABLED=false
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
PUBLIC_HOSTNAME=turingzhi-ecommerce-demo.denmarkeast.cloudapp.azure.com
